body {
  background-color: blueviolet;
}

#house {
  position: relative;
  width: 500px;
  height: 400px;
  background-color: bisque;
  border: 2px solid black;
  margin-top: 100px;
}

#chimney {
  position: absolute;
  background-color: brown;
  width: 50px;
  height: 50px;
  border: 3px solid red;
  z-index: -1;
  top: -50px;
  right: 250px;
}

#roof {
  position: absolute;
  background:
    repeating-linear-gradient(
      45deg,
      #b35900,
      #b35900 2%,
      transparent 2%,
      transparent 5%
    ),
    repeating-linear-gradient(
      -45deg,
      #b35900,
      #b35900 2%,
      #ff9980 2%,
      #ff9980 5%
    );
  background-color: rgba(0, 0, 0, 0.4);
  width: 500px;
  height: 100px;
}

#window-1 {
  position: absolute;
  background-color: aquamarine;
  width: 100px;
  height: 60px;
  right: 25px;
  top: 150px;
  border: 2px solid black;
}

#window-2 {
  position: absolute;
  background-color: aquamarine;
  width: 100px;
  height: 60px;
  left: 25px;
  top: 150px;
  border: 2px solid black;
}

#door {
  position: absolute;
  background-color: gray;
  width: 70px;
  height: 150px;
  border: 2px solid black;
  /* transform: translate(215px, 250px); */
  left: 215px;
  bottom: 0;
}

.window-2-line {
  border: 1px solid black;
  width: 60px;
  position: absolute;
  left: 15px;
  top: 30px;
  transform: rotate(90deg);
}

.window-1-line {
  border: 1px solid black;
  width: 60px;
  position: absolute;
  left: 15px;
  top: 30px;
  transform: rotate(90deg);
}

.door-cicle {
  width: 15px;
  height: 15px;
  border: 1px;
  background-color: rgb(139, 7, 7);
  position: absolute;
  border-radius: 100%;
  top: 075px;
  right: 5px;
}
