.newspaper-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 16px;
  grid-template-areas:
    "title title tittle "
    "feature-article feature article cover-image"
    "secondary-article secondary article cover-image"
    "small-article1 small-article2 small-article3";
  background-color: #fff;
}
