* {
  /* padding: 0;
  margin: 0;
  background: none;
  border: none;
  box-sizing: border-box; */
  all: unset;
}

.form-container {
  background-color: rgb(155, 200, 145);
  border: 1px solid rgb(200, 75, 90);
  border-radius: 15px;
  padding: 5px 5px 5px 5px;
  width: 300px;
  height: 500px;
  display: block;
  max-width: 300px;
}

label {
  margin: 2xp;
  color: black;
  background-color: none;
  margin: 5px 0 0 0;
}

input,
textarea {
  width: 250px;
  padding: 2px;
  margin-bottom: 15px;
  border: 1px solid black;
  display: block;
}

button {
  background-color: gray;
  font-size: large;
}

button:hover {
  color: aquamarine;
  background-color: lightcoral;
}
