/* * {
  margin: 0;
  padding: 0;
} */

* {
  margin: 0;
  padding: 0;
}

/* body {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 90lvw;
  min-height: calc(100vh - 100px);
} */

body {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 90lvw;
  min-height: calc(100vh - 100px);
}

/* hr y section ajustados a porcentaje */

.header-separator .feature {
  width: 50%;
}
