/* .pricing-container {
  display: flex;
  flex-wrap: wrap;
}

.pricing-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 200px;
  border: 2px solid black;
}

.basic-plan {
  order: 0;
}

.pro-plan {
  order: 1;
}

.premium-plan {
  order: 2;
} */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.pricing-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  border: 2px solid #000;
  gap: 20px;
  width: 80%;
  max-width: 900px;
  height: 70vh;
  padding: 0 20px;
}

.pricing-card {
  background: rgb(247, 247, 247);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 0 0 200px;
  text-align: center;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid black;
}

.basic-plan {
  order: 0;
  flex-grow: 12;
}
.pro-plan {
  order: 1;
  /* flex-grow: 1; */
  background: #f0f8ff;
}
.premium-plan {
  order: 2;
  flex-grow: 5;
}
/*
@media screen and (max-width: 1000px) {
  .pricing-container {
    height: auto;
    padding-bottom: 20px;
  }

  h1 {
    display: block;
    font-size: 1.5rem;
    text-align: center;
  }

  .pricing-card {
    flex: 0 0 175px;
  }
}

@media screen and (max-width: 650px) {
  .pricing-container {
    flex-direction: column;
    height: auto;
  }

  .pricing-card {
    flex: 1 1 auto;
    width: 100%;
  }
} */
